.countries-container {
  margin-top: 20px;
  margin-left: 260px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
.countries-section {
  margin: 10px 15px 10px;
}
